.media-player {
  position: relative;
  .media-player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .btn-group {
      align-items: center;
    }
  }
  .media-player-time {
    font-size: 0.9rem;
  }
  .media-player-captions {
    padding: 1rem;
    text-align: center;
    font-family: $font-family-sans-serif;
  }
  .media-player-scrubber {
    min-width: 50%;
  }
  .media-player-scrubber-range {
    height: 9px;
  }
  .media-player-scrubber-progress {
    height: 100%;
    background-color: $secondary;
  }
  .media-player-transcript {
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 0;
    }
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem 0 0;
    }
    .card-body {
      flex-grow: 1;
      overflow: auto;
      padding: 0;
      .list-group-item {
        padding: 0;
        width: 100%;
        .btn {
          width: 100%;
          font-size: 0.77rem;
          text-align: left;
          border-radius: 0;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }
}
